@font-face {
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/Anders.ttf");
    font-family: test;
  }


.top, .top:before, .top:after {
    box-sizing: border-box;
    margin: 0;
  }
  
  .body {
    font-size: 62.5%;
    height: 100%;
    overflow:hidden!important;
 
  }
  
  .scene {
    position: relative;
    height: 100%;
    background: #1d1f20;
    padding-top: 45vh;
    padding-bottom: 37vh;
    text-align: center;
  }
  
  .scene h1 {
    position: relative;
    font-size: 2rem;
   
    text-transform: uppercase;
    font-family: test;
    color: #fff;
    z-index: 10;
  }
 

  .magic {
    z-index: 5;
    position: absolute;
    top: calc(50% - 10rem);
    left: calc(50% - 10rem);
    width: 30vw;
    height: 30vw;
    background: url("../public/img/childrens.png") 50% 50% no-repeat fixed;
    background-size: cover;
    border-radius: 50%;
  }
  
  @media (max-width: 480px) {
    .magic {
        background-image: url("../public/img/childrensMobileF.png");
        width: 70vw;
        height: 70vw;
    }
}
  