

.perfil{
  max-width: 15rem;
  border-radius: 500px;
  margin-top: 5rem;
 
}
.inicio{
  background-color:#f1f2f6;
}



.soy{
  background-color:#ffa502;
  color: #ffffff;

  border-top:  #f1f2f6 solid 10px;
  border-bottom:  #f1f2f6 solid 10px;
 
 
}

.quien{
  padding: 4rem;

}

.quien p{
  text-align: justify;
}


